<div class="wrapper">
<h1>All Post</h1>
<h2 id="message">{{message}}</h2>
{{#each all}}
<a href="/{{id}}"><img src="{{link}}" alt="picture"></a>
<h3>{{author}}</h3>
<p>{{description}}</p>
</br>
{{/each}}
<h2><a href="/new">Create new post</a></h2>
</div>
<form action="/logout">
<button>Logout</button>
</form>